a.button {
  text-decoration: none;
}

button {
  color: $blue;
}

.button,
button {
  margin: 0.5em;
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}

.button {
  background-color: $blue;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 0.7em 1.8em;
  border-radius: 0.4rem;

  &:hover,
  &:focus {
    background-color: darken($blue, 5%);
  }

  &.button-outline {
    border: solid 2px #0060ef;
    color: #0060ef;
    background-color: #ffffff;
    border-radius: 0rem;
    &:hover,
    &:focus {
      background-color: #0060ef;
      color: #ffffff;
    }
    transition: all 0.6s;

    &.disabled {
      border: solid 2px #888;
      color: #888;

      &:hover,
      &:focus {
        background-color: #fff;
        color: #888;
      }
    }
  }

  &.button-icon {
    padding: 0.6em 1em;
  }

  &.reset {
    float: left;
  }
  &.continue {
    float: right;
  }
}

.button-create-wallet {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  border: solid 2px #165fba;
  color: #165fba;
  border-radius: 0rem;
  height: 6rem;
  transition: all 0.4s;
  width: 100%;
  &:hover,
  &:focus {
    background-color: #165fba;
    color: #ffffff;
  }
}

.button-soft {
  margin: 0;
  text-align: center;
  width: 49%;
  font-size: 1.25em;
  color: #888;
  height: 6em;
  transition: all 0.6s;
  &:hover {
    color: #000;
  }
}
