.card {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 2px 1px rgba(60, 64, 67, 0.15);
  border-radius: 1px;
  padding: 1em;
  min-height: 3em;

  transition: all 0.6s;
}

.card-landing {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.card-small {
  max-width: 30em;
  margin: 0 auto;
}

.animated-cards {
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }
}

.animated-card {
  &-exit {
    opacity: 1;
    transition: all 0.6s;
  }
  &-exit-active {
    opacity: 0;
    transform: translateX(2em);
  }

  &-enter {
    opacity: 0;
    transition: all 0.6s;
    transform: translateX(-1em);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-inner {
  border: solid 2px #888;
  color: #000;
  box-shadow: none;
  padding: 0.5em;
  p {
    text-align: justify;
    text-align-last: center;
  }
}
