.chip {
  cursor: pointer;
  border-radius: 2rem;
  background-color: #efefef;
  color: #000000;
  margin: .5em;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  font-weight: bold;
  min-height: 0em;
  padding: .75em;
  transition: all .6s;
  opacity: 1;
  &:hover {
    background-color: darken(#efefef, 5%);
  }

  @media screen and (min-width: 768px) {
    margin: .75em;
    padding: .75em;
    min-width: 100px;
  }
}

.chip-1, .chip-2, .chip-3, .chip-4, .chip-5, .chip-6 {
  cursor: pointer;
  border-radius: 2rem;
  background-color: #efefef;
  color: #000000;
  margin: 1rem;
  display: inline-block;
  text-align: center;
  min-width: 100px;
  font-weight: bold;
  min-height: 0em;
  padding: .5em;
  
}

.chips {
  transition: all .6s;
  overflow: hidden;
}

.chip-1 {
  background-color: $crom;
  color: #ffffff;
}
.chip-2 {
  background-color: $goldfish;
  color: #ffffff;
}
.chip-3 {
  background-color: $sunspot;  
}
.chip-4 {
  background-color: $kermit;
  color: #ffffff;
}
.chip-5 {
  background-color: $marianas;
  color: #ffffff;
}
.chip-6 {
  background-color: $royal;
  color: #ffffff;
}