.product-sidebar {
  width: 16em;
  // Offset Nav Height
  padding-top: $nav-height;
  background-color: #262f3e;
  border-left: 1px solid #404854;
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
  transition: all 0.6s;
  left: 0em;
  z-index: 100;
  padding-bottom: 5em;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 767px) {
    width: 100vw;

    &.hide {
      left: -100vw;
    }
  }

  [class*='heading-'] {
    color: #fff;
  }

  nav {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #404854;
    padding: 1.5em;

    &:first-child {
      border-top: 1px solid #404854;
    }

    &.overview a:not(.active) {
      color: #babdc0;
    }

    a.active {
      color: $light-blue;
    }

    a:hover {
      color: $light-blue
    }  

    &.nested {
      padding: 0rem;
      overflow: hidden; 
      max-height: 100%;
      transition: all 0.6s;

      a {
        margin: 0rem;
        padding: .5rem;
        padding-left: 2rem;
        border-bottom: 1px solid #2c3644; 
      }
    }
    &.open, &.closed {
      background-color: #19212b;

      a {
        color: #babdc0;
        font-size: 1.2rem;
        display: block;
        transition: all 0.4s;

        &.active {
          color: $light-blue;
        }
      }      
    }

    &.closed {      
      max-height: 0%;  
      
      @media screen and (min-width: 768px) {
        max-height: 100%;
      }
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
