// Colors

$blue: #007cef;

$light-blue: lighten($blue, 30%);
$light-gray: #eceff1;
$gray: #d1d2d3;

$bronze: #a7761f;

$kermit: #5d9b3e;
$light-kermit: lighten($kermit, 30%);

$noble_blue: #357dba;

$goldfish: #ff8500;
$light-goldfish: lighten($goldfish, 30%);

$slate: #5e6a83;
$blossom: #cf3f50;
$moulin: #a7326c;
$royal: #5b2585;
$sunspot: #ffe612;
$vista: #59d4d3;
$crom: #e1172f;
$marianas: #3b3bf1;
$prussian: #212678;
// Layout
$nav-height: 50px;
