.product-data {
  .heading-3 {
    font-weight: 700;
  }

  .text-left {
    display: inline-block;
    width: 50%;
  }

  .text-right {
    display: inline-block;
    width: 50%;
  }

  .maintenance-hours {
    display: inline-block;
    width: 5em;
    margin-left: 1em;
  }

  .max-width {
    width: 100%;
  }

  ul,
  li {
    text-align: left;
  }

  input {
    width: 100%;
    margin: 0.25em;
    font-size: 1em;
    margin-top: 0;
  }
  label {
    font-size: 0.75em;
    margin-left: 0.5em;
    font-weight: bold;
  }
}
