.wallet {
  text-align: center;

  .notice-content {
    text-align: left;
  }

  .wallet-selectors {
    button:first-child {
      border-right: solid 1px #888;
    }
  }

  .mnemonic {
    background-color: #efefef;
    border-radius: 0.5em;
    font-size: 1.25em;
    line-height: 2em;
    word-spacing: 1em;
    padding: 1em;

    span {
      margin: 0.5em;
      display: inline-block;
    }
  }

  .answer-word {
    cursor: pointer;
  }

  .custodial {
    label {
      font-weight: 700;
    }
    input {
      width: 100%;
      text-align: center;
      font-size: 0.8em;
    }

    @media screen and (min-width: 768px) {
      input {
        font-size: 1em;
      }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &.paper-wallet {
  }
}
